# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
*.tfstate
*.tfstate.*
crash.log

# Secrets / keys
*.pem
*.tfvars
*.tfvars.json

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Ansible
*.retry